</main>

  <footer class="footer">
    <ul class="menu">
      <a href="/" class="nav-link">Home</a>
      <a href="/code-rev" class="nav-link">Code Overview</a>
    </ul>
    <p class="copyright">AmineDEV © <%= new Date().getFullYear()%></p>
  </footer>

</body>

</html>
